danielh.2018@gmail.com ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDA7LulgtoUwepzoMDD4UgAS1OD09qi4WvvJnDOUNkou
{{- if stat (printf "%s/.ssh/id_ed25519.pub" .chezmoi.homeDir) }}
danielh.2018@gmail.com {{ output "cut" "-d" " " "-f1-2" (printf "%s/.ssh/id_ed25519.pub" .chezmoi.homeDir) | trim }}
{{- end }}
