[user]
	name = Daniel Hunter
	email = danielh.2018@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDA7LulgtoUwepzoMDD4UgAS1OD09qi4WvvJnDOUNkou
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[core]
	excludesFile = ~/.gitignore_global
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[rerere]
	enabled = true
[diff]
	colorMoved = zebra
[branch]
	sort = -committerdate
[merge]
	conflictstyle = zdiff3
[commit]
	gpgsign = true
[init]
	defaultBranch = main
