[ -f "$HOME/.cargo/env" ] && . "$HOME/.cargo/env"
{{- if eq .chezmoi.os "darwin" }}

# added by Snowflake SnowflakeCLI installer v1.0
export PATH=/Applications/SnowflakeCLI.app/Contents/MacOS/:$PATH
{{- end }}
